html,
body {
  padding: 0;
  margin: 0;
}

html,
body,
#root,
.App {
  height: 100%;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;

  background: radial-gradient(circle, rgb(1, 87, 147) 0%, rgb(0, 22, 48) 100%);

  flex-wrap: wrap;
  overflow: auto;
  gap: 1rem;

  font-family: 'Helvetica Neue', Helvetica, Arial, 'Open Sans', sans-serif;
  color: #fafafa;

  --user-card-width: 10rem;
  --user-card-diag: 14.14213562373rem; /* = sqrt(2 * --user-card-width^2) */
  --color-dark: #181818;
}

.App .error {
  position: absolute;
  z-index: 1;
  background-color: var(--color-dark);
  padding: 1em 2em;
  border-radius: 2em;
  font-size: 1.5rem;
}

#censoredButton {
  position: absolute;
  bottom: 1em;
  left: 1em;
}

#changeViewButton {
  position: absolute;
  top: 1em;
  left: 1em;
}
