.Grid {
  --grid-gap: 1rem;
  --grid-max-columns: 4;

  --grid-max-width: calc(
    (var(--user-card-width) * var(--grid-max-columns)) +
      (var(--grid-gap) * (var(--grid-max-columns) - 1))
  );
  width: min(100%, var(--grid-max-width));

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--user-card-width), 1fr));
  grid-gap: var(--grid-gap);
  justify-items: center;
  justify-content: center;

  padding: 1rem;
}

.Grid > li {
  width: 100%;
  height: 100%;
  list-style-type: none;
  position: relative;
}

.Grid > li > * {
  position: absolute;
  top: 0;
}

/*
  Trick used to make the grid items as high as they are wide.
  Works because padding in % is proportionate to the width, even padding-bottom.
  source: https://css-tricks.com/a-grid-of-logos-in-squares/
*/
.Grid > li::before {
  content: '';
  padding-bottom: 100%;
  display: block;
}

.Grid .footer {
  width: var(--user-card-width);
  height: var(--user-card-width);
  display: flex;
  align-items: center;
  justify-content: center;
}

.Grid .footer svg {
  width: 70%;
  height: 70%;
}
