.UserCard {
  position: relative;

  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  width: 100%;
  height: 100%;

  background-color: var(--color-dark);

  overflow: hidden;
  --transition-duration: 0.2s;
}

.UserCard .name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.UserCard .status {
  --diameter: 0.7em;

  width: var(--diameter);
  height: var(--diameter);
  border-radius: calc(var(--diameter) / 2);
}

.ProfilePhoto {
  transition: opacity var(--transition-duration);
}

.UserCard:hover .ProfilePhoto,
.UserCard.focused .ProfilePhoto {
  opacity: 0.5;
}

.UserCard .slider {
  display: flex;
  flex-direction: column;
  gap: 0.4em;

  --slide-amount: calc(100% - 2.4em);
  position: absolute;
  top: var(--slide-amount);
  left: 0;

  --slider-padding: 0.7em;
  width: calc(100% - var(--slider-padding) * 2);
  height: calc(100% - var(--slider-padding) * 2);

  transition: transform var(--transition-duration);

  padding: var(--slider-padding);
  --small-font-size: min(1.1em, 1.4rem);
}

.UserCard.focused .slider,
.UserCard:hover .slider {
  transform: translateY(calc(-1 * var(--slide-amount)));
}

.UserCard.focused .header,
.UserCard:hover .header {
  text-shadow: none;
}

.UserCard .header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  text-shadow: 1px 1px 1px black;
  transition: text-shadow var(--transition-duration);
}

.UserCard .status-name {
  display: flex;
  align-items: baseline;
  gap: 0.4em;
  font-size: 1.2em;

  overflow: hidden;
}

.UserCard .distance {
  font-size: var(--small-font-size);
}

.UserCard .additional-info {
  display: flex;
  justify-content: space-between;
}

.UserCard .location {
  justify-self: end;
}

.UserCard .additional-info,
.UserCard .headline {
  font-size: var(--small-font-size);
}
